@import '../css/app.css';




.card-container {
    all: unset;
    margin-top: 1vh;

    /* transform-style: preserve-3d; */
    width: 100%;
    aspect-ratio: 0.73;
    font-size: 10px;
    transition: all 1s ease;

    perspective: 1000px;
    animation: fondu .8s ease-out;
}

.card-fade {
    animation: fondu .8s ease-out;
  }
  

@keyframes fondu {
    0% {
        transform: scale(.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* rotation */
/* .card-container:hover .front-card-little {
    animation: little-front-flip 1s ease-in-out;
} */


/* INFOS */
.infos-pokemon {
    font-family: 'Pokemon';
    font-size: 2.7vw;
    width: 100%;
    position: fixed;
    top: 10%;
    margin-left: auto;
    margin-right: auto;

    color: rgb(17, 17, 17);
}

.number-pokemon {
    font-family: 'Outfit';
    /* font-weight: bold; */
    font-size: clamp(10px, 2vw, 16px);
    margin-left: 15%;
}

.name-pokemon {
    text-align: center;
    font-family: 'Pokemon';
    font-size: clamp(10px, 5vw, 30px);
    margin-top: 4%;

}



/* fond */
.fond-carte {
    width: 100%;
}

.fond-carte-test{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* image */
.img-pokemon-container {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
}



.fond-blanc-carte {
    width: 80%;
    position: fixed;
    top: 33%;
    margin-left: auto;
    margin-right: auto;
    /* filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
    opacity: 1; */
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
    opacity: 0.3;
}

/* .card-container:hover > .fond-blanc-carte {
    opacity: 1;
} */



.img-pokemon-png {
    height: 36%;
    position: fixed;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
}

/* energy */
.type-pokemon-container {
    width: 60%;
    position: absolute;
    top: 73%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    filter: drop-shadow(2px 2px 4px rgba(55, 55, 55, 0.489));
}


.type-image {
    background-color: aqua;
    /* 20px */
    width: 20px;
    clip-path: path("M0 7.984C0 1.40918 1.40918 0 7.984 0H12.016C18.5908 0 20 1.40918 20 7.984V12.016C20 18.5908 18.5908 20 12.016 20H7.984C1.40918 20 0 18.5908 0 12.016V7.984Z");
}

@media screen and (min-width: 768px) {
    .type-image {
        /* 35px */
        width: 35px;
        clip-path: path("M0 13.972C0 2.46606 2.46606 0 13.972 0H21.028C32.5339 0 35 2.46606 35 13.972V21.028C35 32.5339 32.5339 35 21.028 35H13.972C2.46606 35 0 32.5339 0 21.028V13.972Z");
    }
}


/* generation */
.gen-pokemon {
    font-family: 'Outfit';
    width: 100%;
    position: absolute;
    top: 90%;
    font-size: 0.8vw;
    /* font-weight: bold; */
    text-align: center;
}


/* ---------- */
.back-card,
.front-card-little,
.big-front-card {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s ease;
}

/* ---------- */
/* arriere de la carte */
.back-card {
    position: absolute;
    top: 1%;
    width: 100%;
    opacity: 1;
    transform: rotateY(180deg);
    /* display: none; */
    transition: all 1.5s ease;
}

.back-card img {
    width: 100%;
    opacity: 1;
    height: 96%;
}




/* face 2 */



/* position: absolute;
    top: 50%;
    left: 50%;
    /* transform: scale(3); 
    transform-origin: center;
    transform: scale(3);
    z-index: 100; */


/* @keyframes little-front-flip {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(180deg);
        display: none;
    }
}

@keyframes back-flip {
    0%{
        transform: rotateY(-180deg);
        display: initial;
    }
    100%{
        transform: rotateY(360deg);
    }
} */

@keyframes card-position-center {

    100% {
        /* transform: scale(2); */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* position: absolute;
        top: 30%;
        left: 30%; */

    }
}

@keyframes little-front-flip {
    0% {
        /* transform: rotateY(0deg); */
    }

    50% {
        transform: rotateY(90deg);
        /* Vous pouvez ajuster cette valeur pour déterminer le moment où le dos de la carte commence à être visible */
    }

    100% {
        transform: rotateY(180deg);

    }
}

@keyframes back-flip {
    0% {
        display: initial;
        transform: rotateY(180deg);

    }

    100% {
        transform: rotateY(360deg);
        display: none;
    }
}

.card_wraper {
    transition: all 1s ease;
}

.big-front-card {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 110;
    transform: rotateY(180deg);
}

.big-front-card h1 {
    position: absolute;
    top: 20%;
}


/* big front */
.infos-pokemon-big {
    font-family: 'Pokemon';
    font-size: 2.7vw;
    width: 100%;
    position: fixed;
    top: 10%;
    margin-left: auto;
    margin-right: auto;

    color: rgb(17, 17, 17);
}

.numeros-container-big {
    display: flex;
    /* background-color: aquamarine;
    opacity: .5; */
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: -30%;
    left: 3px;
    width: 90%;
}

.number-pokemon-big {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(10px, .7vw, 16px);
    margin-left: 5%;
}

.gen-pokemon-big {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(10px, .7vw, 16px);
    margin-left: 5%;
}


.name-pokemon-big {
    text-align: center;
    font-family: 'Pokemon';
    font-size: clamp(10px, 2vw, 20px);
    margin-top: 3%;
}

.fond-blanc-carte-big {
    width: 65%;
    position: fixed;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
}

.img-pokemon-png-big{
    height: 30%;
    position: fixed;
    top: 24%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
}

.type-pokemon-container-big {
    width: 60%;
    position: absolute;
    top: 58%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    filter: drop-shadow(2px 2px 4px rgba(55, 55, 55, 0.489));
}


.type-image-big {
    background-color: aqua;
    /* 20px */
    width: 20px;
    clip-path: path("M0 7.984C0 1.40918 1.40918 0 7.984 0H12.016C18.5908 0 20 1.40918 20 7.984V12.016C20 18.5908 18.5908 20 12.016 20H7.984C1.40918 20 0 18.5908 0 12.016V7.984Z");
}

@media screen and (min-width: 768px) {
    .type-image-big {
        /* 35px
        width: 35px;
        clip-path: path("M0 13.972C0 2.46606 2.46606 0 13.972 0H21.028C32.5339 0 35 2.46606 35 13.972V21.028C35 32.5339 32.5339 35 21.028 35H13.972C2.46606 35 0 32.5339 0 21.028V13.972Z");*/
         /* 20px */
        width: 20px;
        clip-path: path("M0 7.984C0 1.40918 1.40918 0 7.984 0H12.016C18.5908 0 20 1.40918 20 7.984V12.016C20 18.5908 18.5908 20 12.016 20H7.984C1.40918 20 0 18.5908 0 12.016V7.984Z");
    } 
}