@import '../css/app.css';




.card-container{
    margin-top: 1vh;

    /* transform-style: preserve-3d; */
    width: 100%;
    aspect-ratio: 0.73;
    font-size: 10px;
}


/* INFOS */
.infos-pokemon{
    font-family: 'Pokemon';
    font-size: 2.7vw;
    width: 100%;
    position: fixed;
    top: 10%;
    margin-left: auto;
    margin-right: auto;

    color: rgb(17, 17, 17);
}

.number-pokemon{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(10px,2vw,16px);
    margin-left: 15%;
}

.name-pokemon{
    text-align: center;
    font-family: 'Pokemon';
    font-size: clamp(10px,5vw,30px);
    margin-top: 4%;

}



/* fond */
.fond-carte {
    width: 100%;
}


/* image */
.img-pokemon-container {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
}



.fond-blanc-carte {
    width: 80%;
    position: fixed;
    top: 33%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
}



.img-pokemon-png{
    height: 36%;
    position: fixed;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.389));
}

/* energy */
.type-pokemon-container{
    width: 60%;
    position: absolute;
    top: 71%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    filter: drop-shadow(2px 2px 4px rgba(55, 55, 55, 0.489));
}


.type-image{
    background-color: aqua;
    /* 20px */
    width: 20px;
    clip-path: path("M0 7.984C0 1.40918 1.40918 0 7.984 0H12.016C18.5908 0 20 1.40918 20 7.984V12.016C20 18.5908 18.5908 20 12.016 20H7.984C1.40918 20 0 18.5908 0 12.016V7.984Z");
}

@media screen and (min-width: 768px) {
    .type-image{
        /* 35px */
        width: 35px;
        clip-path: path("M0 13.972C0 2.46606 2.46606 0 13.972 0H21.028C32.5339 0 35 2.46606 35 13.972V21.028C35 32.5339 32.5339 35 21.028 35H13.972C2.46606 35 0 32.5339 0 21.028V13.972Z");
    }
}
