@import '../css/app.css';

.close-button {
    all: unset;
    background-color: #FFD600;
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 13%;
    right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10vw;
}

.close-img {
    width: 80%;
}


/* resonsive */
@media screen and (min-width: 768px) {
    .close-button {
        width: 9vw;
        height: 9vw;
    }
}

@media screen and (min-width: 1024px) {
    .close-button {
        width: 9vw;
        height: 9vw;
        top: 15%;
    right: 15%;
    }
}

@media screen and (min-width: 1300px) {
    .close-button {
        width: 5vw;
        height: 5vw;
        top: 21%;
        right: 15%;
    }
}