@import '../css/app.css';


.pokemon-preevolution-container {
    /* background-color: aquamarine; */
    width: 100%;
    height: 50%;


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preevolution-card-container {
    background-color: chartreuse;
    /* width: 95%; */
    width: 75%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
}

.pokemon-preevolution-fond {
    background-color: rgb(177, 91, 10);
    display: block;
    height: 100%;
    position: relative;

}

.front-card-evol {
    position: absolute;
    /* height: 100%; */
    width: 100%;
}

.pokemon-preevolution-name {
    font-family: 'Pokemon';
    background-color: aqua;
    position: absolute;
    top: 14%;
    text-align: center;
    font-size: 2.6rem;

}
.pokemon-preevolution-number{
    font-family: 'Outfit';
    position: absolute;
    top: 5%;
    margin-left: 8%;
}

.pokemon-preevolution-gen{
    font-family: 'Outfit';
    position: absolute;
    text-align: center;
    bottom: 5%;
}

.pokemon-preevolution-images{
    width: 100%;
    background: aqua;
    position: absolute;
    top: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-preevolution-fond-img{
    display: none;
    position: absolute;
    top: 0%;
    width: 80%;
    opacity: 0.4;
}

.pokemon-preevolution-img{
    position: absolute;
    top: 5%;

    width: 80%;
}