@import '../css/app.css';

.menu{
    background-color: var(--yellow);

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 12vw;
    border-bottom-right-radius: 12vw;

    z-index: 1;
    position: relative;
}

/* .banniere{
    width: 101vw;
    position: fixed;
    top:0;

} */

.pokeball-logo{
    width: clamp(50px,20%,100px);
    padding: 10px 0px 10px 0px;
    transform-origin: bottom;
    animation: pokeball_vibre 3.5s infinite ease-in-out;
}


@keyframes pokeball_vibre {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    55% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}