@import '../css/app.css';


.menu {
    /* background-color: rgba(255, 255, 255, 0.911); */
    background-color: white;

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 14vw;
    border-bottom-right-radius: 14vw;

    box-shadow: 0px 20px 18px white;

    z-index: 1;
    position: sticky;
    top: 0px;

}

.banniere {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 20px 18px white);
}


/* gen filter */
.generation-filter-container {
    width: 13%;
    position: absolute;
    bottom: 0%;
    left: 44%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    z-index: 1001;
}

.clock {
    height: 100%;
}

#generation {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;

    font-size: 17px;

    font-family: 'Outfit';
}

/* gen filter */
.type-filter-container {
    width: 13%;
    position: absolute;
    bottom: 0%;
    left: 60%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    z-index: 1001;
}

.type-img {
    height: 80%;
}

#type {
    border: none;
    outline: none;
    width: 80%;
    margin-left: 20px;

    font-size: 17px;

    font-family: 'Outfit';
}



@media screen and (max-width: 768px)  {
    #generation {
        margin-left: 2px;
        font-size: 6px;
    }

    #type {
        margin-left: 2px;
        font-size: 7px;
    }
    .type-img {
        height: 60%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #generation {
        margin-left: 5px;
        font-size: 7px;
    }

    #type {
        margin-left: 5px;
        font-size: 10px;
    }
    .type-img {
        height: 70%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    #generation {
        margin-left: 5px;
        font-size: 10.5px;
    }

    #type {
        margin-left: 15px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1300px) {}





/* pokeball */

.pokeball-logo {
    width: clamp(50px, 20%, 100px);
    padding: 10px 0px 10px 0px;
    transform-origin: bottom;
    animation: pokeball_vibre 3.5s infinite ease-in-out;
}


@keyframes pokeball_vibre {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    55% {
        transform: rotate(7deg);
    }

    100% {
        transform: rotate(0deg);
    }
}