@import '../css/app.css';


.master-container-div {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;


  z-index: 999;
  background-color: #ffffffb5;
}

.parallax-effect-glare-scale {
  height: 100%;
}

.card_wraper-big {
  height: 80vh;
  /* Par exemple, 80% de la hauteur de la vue */
  aspect-ratio: 0.73;
  max-width: 90%;
  /* perspective: 1000px; */

}

.card-container-big {
  width: 100%;
  height: 100%;
  display: block;
}

/* arriere de la carte */
.back-card-big {
  width: 100%;
  height: 100%;
  position: absolute;

  /* transform: rotateY(180deg); */
  animation: back-turn 1.5s ease-in-out;

}

.back-card-big img {
  width: 100%;
}


/* back hidden */
.back-card-big,
.front-card-big-container {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 1s ease;
}


/* FRONT */
.front-card-big-container {
  height: 100%;
  width: 100%;
  animation: front-turn 1.5s ease-in-out;
  transform-style: preserve-3d;

}

.front-card-big {
  width: 100%;
  position: absolute;
}



/* infos */
.infos-pokemon-container {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.top-infos-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-left: 2%;

}

.number-pokemon-big,
.gen-pokemon-big {
  font-family: 'Outfit';
  font-size: clamp(20px, 1.6vw, 34px);
}

.number-pokemon-big {
  margin-left: 10%;
}

.gen-pokemon-big {
  margin-right: 5%;
}

.name-pokemon-big {
  width: 100%;
  text-align: center;

  font-family: 'Pokemon';
  font-size: clamp(10px, 6vw, 70px);
  margin-top: -1%;
}


/* images */
.img-pokemon-container-big {
  /* background-color: tomato; */

  width: 100%;
  height: 28%;

  position: absolute;
  top: 18%;
  left: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.type-images-container {
  /* background-color: rgb(71, 255, 89); */
  width: 30%;
  height: 100%;
}


.type-container-big {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  filter : drop-shadow(4px 4px 3px rgba(55, 55, 55, 0.389));

  /* background-color: royalblue; */
}

.simple {
  height: 100%;
}

.type-image-big {
  /* width: 20%; */
  /* clip-path: path("M0 7.984C0 1.40918 1.40918 0 7.984 0H12.016C18.5908 0 20 1.40918 20 7.984V12.016C20 18.5908 18.5908 20 12.016 20H7.984C1.40918 20 0 18.5908 0 12.016V7.984Z"); */
  width: 65px;
  clip-path: path("M0 25.948C0 4.57982 4.57982 0 25.948 0H39.052C60.4202 0 65 4.57982 65 25.948V39.052C65 60.4202 60.4202 65 39.052 65H25.948C4.57982 65 0 60.4202 0 39.052V25.948Z") ;
  filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
}


.pokemon-images-container {
  /* background-color: rgb(141, 71, 255); */
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fond-blanc-carte-big {
  position: absolute;
  top: 0%;
  left: 35%;
  width: 60%;
  filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
  opacity: 0.4;
}

.img-pokemon-png-big {
  height: 100%;
  filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
  margin-top: -5%;
}





/* height and weight */
.bottom-infos-container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  bottom: 2%;
}

.height-container,
.weight-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-value,
.weight-value {
  margin-left: 5px;
}




/* stats */
.stats-container {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 48%;
  left: 0%;
  /* background-color: aquamarine;
  opacity: 0.6; */
}

.stats-title {
  font-family: 'Outfit-bold';
  font-size: clamp(10px, 2.5vw, 30px);
  margin-left: 15%;
}

.stats-chart-container {
  width: 100%;
  height: 90%;

}

#chart {
  margin-top: -10%;
  transform: scale(1.2);
}

.apexcharts-menu-icon {
  display: none;
}



/* close button */
.close-button {
  all: unset;
  background-color: #FFD600;
  width: 6vw;
  height: 6vw;

  position: fixed;
  top: 3%;
  right: 23%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10vw;
  z-index: 1000;
}

.close-button:hover {
  transform: scale(1.1);
  background-color: #ffde39;
}

.close-button:active {
  transform: scale(0.8);
}

.close-img{
  width: 80%;

}





@keyframes back-turn {
  0% {
    opacity: 0;
    transform: scale(.6) rotateY(0deg);
  }
  25%{
    opacity: 1;
  }

  100% {
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes front-turn {
  0% {
    transform: scale(.6) rotateY(180deg);
  }

  100% {
    transform: scale(1) rotateY(0deg);
  }
}



/* responsive */
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .card_wraper-big {
    height: 75vh;
  }

  .number-pokemon-big,
  .gen-pokemon-big {
    font-size: clamp(30px, 2.6vw, 34px);
  }

  .name-pokemon-big {
    font-size: clamp(28px, 13vw, 105px);
  }

  .type-image-big {
    width: 90px;
    clip-path: path("M0 35.928C0 6.34129 6.34129 0 35.928 0H54.072C83.6587 0 90 6.34129 90 35.928V54.072C90 83.6587 83.6587 90 54.072 90H35.928C6.34129 90 0 83.6587 0 54.072V35.928Z") ;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
  }
  .stats-title {
    font-size:clamp(10px, 6.5vw, 40px);
  }
  .height-container,
  .weight-container {
    font-size: 2rem;
    font-weight: 700;
  }
  #chart{
    margin-top: -6%;
  }

  /* bouton */
  .close-button {
    width: 9vw;
    height: 9vw;
  
    top: 6%;
    right: 6%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card_wraper-big {
    height: 75vh;
  }

  .number-pokemon-big,
  .gen-pokemon-big {
    font-size: clamp(30px, 2.6vw, 34px);
  }

  .name-pokemon-big {
    font-size: clamp(28px, 13vw, 105px);
  }

  .type-image-big {
    width: 65px;
    clip-path: path("M0 25.948C0 4.57982 4.57982 0 25.948 0H39.052C60.4202 0 65 4.57982 65 25.948V39.052C65 60.4202 60.4202 65 39.052 65H25.948C4.57982 65 0 60.4202 0 39.052V25.948Z") ;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
  }

  /* ----------------------------- */
  .img-pokemon-container-big{
    top: 20%;
  }
  .stats-container{
    top: 50%;
  }
  .height-container,
  .weight-container {
    font-size: 1.6rem;
  font-weight: 500;
  }
  #chart{
    margin-top: -10%;
  }
  /* -------------------- */

  .stats-title {
    font-size:clamp(10px, 6.5vw, 40px);
  }
  

  /* bouton */
  .close-button {
    width: 9vw;
    height: 9vw;
  
    top: 6%;
    right: 6%;
  }

}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .card_wraper-big {
    height: 57vh;
  }

  .number-pokemon-big,
  .gen-pokemon-big {
    font-size: clamp(21px, 2.6vw, 34px);
  }

  .name-pokemon-big {
    font-size: clamp(65px, 13vw, 105px);
  }

  .type-image-big {
    width: 45px;
    clip-path: path("M0 17.964C0 3.17065 3.17065 0 17.964 0H27.036C41.8294 0 45 3.17065 45 17.964V27.036C45 41.8294 41.8294 45 27.036 45H17.964C3.17065 45 0 41.8294 0 27.036V17.964Z") ;
    filter: drop-shadow(2px 5px 4px rgba(55, 55, 55, 0.889));
  }

  /* ----------------------------- */
  .img-pokemon-container-big{
    top: 20%;
  }
  .stats-container{
    top: 50%;
  }
  .height-container,
  .weight-container {
    font-size: 1rem;
  font-weight: 500;
  }
  #chart{
    margin-top: -9%;
  }
  /* ----------------------------- */

  .stats-title {
    font-size:clamp(10px, 5.5vw, 40px);
  }
  

  /* bouton */
  .close-button {
    width: 9vw;
    height: 9vw;
  
    top: 6%;
    right: 6%;
  }

}








/* bouton */
.switch {
  position: absolute;
  top: 6%;
  right: 10%;
  width: 4.5vw;
  height: 2vw;
  z-index: 999;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: white; */
  border: 2px solid white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 85%;
  aspect-ratio: 1;

  left: 10%;
  bottom: 10%;
  background-image: url('../images/pokeball.svg');
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color:  white;
  background-image: url('../images/pokeball-shiny.svg');
}

input:focus+.slider {
  box-shadow: 0 0 1px  white;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px) rotate(360deg);
  -ms-transform: translateX(26px)rotate(360deg);
  transform: translateX(26px)rotate(360deg);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}