@import '../css/app.css';


.pointer-container{
    width: 80px;
    pointer-events: none;
    cursor: none;
}

.pointer-image{
    width: 100%;
    cursor: none;
    transform: translate(-4px, 14px);
    transition: all .4s ease-in-out;
}